{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}
<div>
    <ol>
        {% for produit in produits %}
        <li>
            <a href="{{ path('produit_details', {'id':produit.id}) }}">Détails</a>
            {{ produit.nom }} / {{ produit.prix }}
        </li>
        {% endfor %}
    </ol>

</div>
{% endblock %}
